#S1{
background-color:red;
color:white;
height: 100px;
width: 100px;
}
#S2{

}
#S3{

}
#S4{

}
#K1{
    background-image:url("th7NVXKL62.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 1000px;
    left: 20px;
    height:100px;
    width:200px;
}